label,
legend {
  color: #666666;
  display: block;
}

label,
legend {
  color: #666666;
  display: block;
  font-size: 18px;
  margin-top: 20px;
}

input:not([type='radio']),
select,
textarea {
  font-family: OzCaramel;
  font-size: 20px;
  border: 1px solid #666666;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 414px) {
  input:not([type='radio']),
  select,
  textarea {
    font-size: 12px;
  }
}

fieldset {
  border: 0;
  margin: 20px 0 0;
  padding: 0;
}
fieldset > label {
  display: inline;
  line-height: initial;
}

button {
  width: 50%;
  height: 50px;
  border: 0;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
}

.submit {
  background-color: #fa1b5e;
  border-radius: 10px 0px 10px 0px;
}

.reset {
  background-color: #666666;
  border-radius: 0px 10px 0px 10px;
}

span {
  color: #fa1b5e;
  font-weight: bold;
}
